<h1>Search Collections</h1>
<form action="/collectibles/search" method="post">
  <label for="newItemId">Item #</label>
  <input type="number" name="newItemId">
  <h3>OR</h3>
  <label for="newItemName">Item Name</label>
  <input type="text" name="newItemName">
  <button type="submit">SEARCH</button>
</form>
<h3><a href="/">Home</a></h3>
<h3><a href="/Collectibles">List of Collectibles</a></h3>
<h3><a href="/Collectibles/new">Add More Collectible</a></h3>
